# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env
.env.*

.cache/

# FastAPI / Uvicorn
*.log

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/

*.pt
*.h5
.onnx.data
.onnx

