fastapi<=0.108.0
starlette==0.26.1
fastapi-responses
fastapi_static_files
fastapi_template
Jinja2
jinja2-time
requests
uvicorn
virtualenv
python-multipart
pillow
onnxscript
uvicorn
onnxruntime
opencv-contrib-python
motor
dnspython
python-dotenv
huggingface_hub
opencv-python-headless