<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <label for="upload-img-hidden" class="namemodel block text-gray-700 font-medium mb-2 mt-4">Upload Images</label>
        <div class="upload-container">
          <input type="file" id="upload-img-hidden" name="upload-img" accept="image/*" class="hidden" multiple>
          <label for="upload-img-hidden"
            class="cursor-pointer inline-block bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out">
            Choose File(s)
          </label>
          <br>
          <span id="file-count" class="ml-2 text-gray-600"></span>
        </div>

        <div id="left-top-panel" class="md:w-1/2">
            <h2 class="text-xl font-semibold mb-3">Original Image</h2>
            
            <div id="original-image-container" class="bg-gray-200 border border-gray-400 rounded-lg overflow-hidden h-96 flex items-center justify-center">
                <p id="placeholder-text" class="text-gray-500">Upload an image from the sidebar to view it here.</p>
                <img id="preview-img" class="hidden w-full h-full object-contain" src="" alt="Original Preview">
            </div>
        </div>

    <script>
        const fileinput = document.getElementById('input[name ="upload-img"]');
        const container = document.getElementById('original-image-container');
        const prewImg = document.getElementById('preview-img');
        const placeholder = document.getElementById('placeholder-text');

        fileinput.addEventListener('change' , function(e){
            const file = e.target.files[0];
            if (file){
                const reader = new FileReader();
                reader.onload = function(event){
                    prewImg.src = event.target.result;
                    prewImg.classList.remove('hidden');
                    placeholder.classList.add('hidden');
                }
                reader.readAsDataURL(file);
            }
        });
    </script>
</body>
</html>